/* CSS Document */
html body
{padding:0;
margin:0;
overflow-x:hidden;
font-family:Arial, Helvetica, sans-serif;}
.clear{clear:both;}
a{text-decoration:none;}
.logo-side{background:#666666;min-height:640px;}
.img-responsive{height:80px;width:160px;margin-top:30px;margin-left:65px;}
.user-selection{text-align:center;font-size:20px;margin-top:30px;}
.user-selection ul{padding:0;margin:0;}
.user-selection ul li
{list-style:none;
display:block;
padding:28px;
line-height:14px;
border-bottom:1px solid #EBEBEB;}
.user-selection ul a{color:#000000;}
.user-selection ul li:hover{background:#999999;}
.form-left{margin-top:20px;}
.text-change{text-align:left;}
.form-horizontal .control-label{text-align:left;}
.btn-change{margin-left:0;}
.form1-change{margin-left:-130px;width: 157%;}
.form2-change{width:222%;margin-left:-14px;}
.pad-change{margin-left:9px;padding:6px;margin-top:4px;}
.pad1-change{margin-left:8px;padding:6px;margin-top:4px;}
.zip-change{margin-left:-13px;}
.form3-change{margin-left:-30px;width:122%;}
.gender-change{margin-left:7px;}
.g1-change{margin-left:20px;}
.save-change{border-radius:4px;background:#0000FF;border:#999999;margin-top:10px;color:#FFFFFF;}
.cancel-change{border-radius:4px;background:#FF0033;border:#999999;margin-left:15px;margin-top:10px;color:#FFFFFF;}
.address-change{margin-left:-15px;margin-bottom:4px;}
.add1-change{margin-top:0px;margin-bottom:15px;}
.semi-change{margin-left:25px;margin-right:-6px;}
.state-change{margin-left:85px;margin-right:-6px;}
.country-change{margin-left:35px;margin-right:-6px;}
.zipsemi-change{margin-left:2px;margin-right:30px;}
.gensemi-change{margin-left:2px;margin-right:0.3px;}
.address-change{margin-left:15px;margin-top:0px;}
.text-change{text-align:left;}
.add-change{margin-bottom:10px;}
.save1-change{border-radius:1px;width:5%;margin-left:14px;padding: 4px;width: 9%;}
.table-change{margin-top:20px;text-align:center;}
.save-change{margin-left:2px;line-height:0.4287px;padding:10px;border-radius:1px;}
.pagination{margin-top:35px;margin-left:420px;}
.table1-change th{
text-align:center;
}